<h2> <%=h @tool[@base_locator+ "/types/label"].first.value%> </h2>
<br />

<%= get_image_tag(@tool) %>

<br />
<br />

<h3><%=h @acc["-"].second.value %></h3>
<%  if @steps.size > 0 %>

<%= render :partial => "shared/step", :collection => @steps %>

<% end %>