<h2>Schritt</h2>
<% if @materials.size > 0 %>
<h3>Materialien</h3>
        <% for material in @materials %>
        &bull; <a href="../material/<%=h  material.id %>"><%=h  material["-"].first.value %></a>
        <br>
        <% end %>
<% end %>

