.searchField {
	width: 200px;
}

.results {
	border: 1px solid #666;
	border-bottom: 0px;
	font-size: 10px;
	font-family: arial;
	padding: 0px;
	display: none;
}

.selected {
    border-bottom: 1px solid #666;
    padding: 3px;
	background-color: #666;
	color: #fff;
}

.unselected {
    border-bottom: 1px solid #666;
    padding: 3px;
	background-color: #fff;
	color: #666;
}