[{boss, [
    {path, "/home/dex/github/ChicagoBoss"},
    {vm_cookie, "abc123"},
    {applications, [moebelportal_erlang]},
    {db_host, "localhost"},
    {db_port, 1978},
    {db_adapter, mock},
    {log_dir, "log"},
    {server, misultin},
    {port, 8001},
    {session_adapter, mock},
    {session_key, "_boss_session"},
    {session_exp_time, 525600}
]},
{ moebelportal_erlang, [
    {path, "../moebelportal_erlang"},
    {base_url, "/"}
]}
].
