<% if @product.size > 0 %>
<h3>Anleitung für</h3>
        <% for pdid in @product %>
        &bull; <a href="../product/<%=h  pdid.id %>"><%=h  pdid["-"].first.value %></a>
        <br>
        <% end %>
<% end %>

<% if @set_of_steps.size > 0 %>
<h3>Schritte</h3>
        <% for step in @set_of_steps %>
        &bull; <a href="../step/<%=h  step.id %>"><%=h  step["-"].first.value %></a>
        <br>
        <% end %>
<% end %>

<%if @all_assosciations.size > 0 %>
<h3>Sonstige Assoziationen</h3>
	<% for assosc in @all_assosciations%>
	&bull;  <% assosc.id %>
	<br>
	<% end %>
<% end %>