<% if @product.size > 0 %>
<h3>Anleitung für</h3>
<%= render :partial => "shared/product", :collection => @product %>		
<% end %>

<% if @set_of_steps.size > 0 %>
<h3>Schritte</h3>
<%= render :partial => "shared/step", :collection => @set_of_steps %>		
<% end %>

<%if @all_assosciations.size > 0 %>
<h3>Sonstige Assoziationen</h3>
	<% for assosc in @all_assosciations%>
	&bull;  <% assosc.id %>
	<br>
	<% end %>
<% end %>