<h2><%=h @product[@base_locator+ "/types/label"].first.value%></h2>
<br />

<%= get_image_tag(@product) %>

<br />
<br />

<% if @manuals.size > 0 %>
  <hr />
  <h3><%=h @acc_manuals[@base_locator+ "/types/label"] %></h3>
  <%= render :partial => "shared/manual", :collection => @manuals %>
<% end %>
